.container-profil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 30px;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #92140C;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20%;
    z-index: 10;
}

.circle > img {
    width: 60%;
}

.card-profil > p {
    color: white;
    font-size: 16px;
    text-align: left;
}

.card-profil>div>p {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.card-profil {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: #1e1e24;
    color: #fff8f0;
    border-radius: 20px;
    padding: 40px;
    margin: 0 auto;
    height: fit-content;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.link {
    flex:1
}

.link > li {
    list-style: none;
}

.link>li>a {
    color: black;
}

.link>li>a:hover {
    color: black;
    text-decoration: underline;
}