.signupForm{
    display: flex;
    width: 75%;
    margin: 0 auto;
    flex-direction: column;
}

.submitBtn {
    width: 80%;
    text-align: center;
    margin: 15px auto 0;
    background-color: #92140C;
    padding: 10px;
    border-radius: 15px;
    color: #FFF8F0;
  }

  .titleRegister{
    margin-top: 40px;
}
