#root{
  justify-content: space-between;
}

.feedContent {
  height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sockCardsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  }

  p{
    text-align: center;
  }